
{% extends 'base.html' %}
{% load static %}
{% block main-content %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Signup</title>
</head>
<body>

     {% csrf_token %}
    <form class="login-container" method="post">
        <center><h2>Customer Signup</h2></center>
        {% csrf_token %}
        {{ form.as_p }}
     <center >   <button class="bg-dark text-white" type="submit">Sign Up</button></center>
    </form>
</body>
</html>

{% endblock main-content %}